# .dockerignore

# 依赖和编译产物
/dist
/node_modules
/build

# 日志
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# 系统和 IDE 文件
.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 环境变量文件
.env
.env.prod
.env.development.local
.env.test.local
.env.production.local
.env.local

# 其他
/generated/prisma